html, body {
	height: 100%;
}

img {
	max-width: 100%;
}

.timelineTitle {
	text-align: center;
}

.timelineLine {
	margin-bottom: 5%;
}
.trending {
	background-color: #66c5c5;
	color: #fff;
}

.whosInCity {
	background-color: #ee9000;
	color: #fff;
}

/*Timeline CSS*/
.modalButton {
	display: none;
}

.locationContainer {
	border-left: #000 2px solid;
	display: inline-block;
	padding: 8px;
}

.timelineLine {
	position: relative;
	margin-top: 40px;
	margin-bottom: 40px;
}

.placeMarkerImageWrapper {
	position:absolute;
	top: 82px;
	left: 80px;
}

.placeMarkerImage {
	display: inline-block;
	margin: 0px 15px;
}

.timelineLine h3 {
	text-align: center;
}

.editable,
.edit-input {
	margin-bottom: 6%;
	width: 100%;
	min-height: 100px;
}

.submitBtn {
	text-align: center;
	border: #666 solid 2px;
	width: 100%;
	margin-bottom: 5%;
	padding: 1%;
	text-transform: uppercase;
}

.board-nav ul {
	list-style: none;
}

.board-nav li {
	display: inline-block;
	text-align: center;
}

/*Location CSS*/

#libraryContainer ul {
	list-style-type: none;
	text-decoration: none;
}

.city-name,
.timelineTitle {
	margin-top: 4%;
	padding-bottom: 1%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	width: 50%;
	border-bottom: #e7e7e7 1px solid;
	color: #404040;
}

.timelineDetails {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	border-left: #e7e7e7 2px solid;
	padding-left: 2%;
	width: 70%;
	font-size: 20px;
	line-height: 34px;
	position:relative;
}

.timelineDetails h3 {
	font-size: 29px;
	color: #505050;
}

.timelineDetailsName::before {
	content: '•';
	top: 0px;
	left: 0px;
	margin-left: -6px;
	position: absolute;
}

.timelineSidebar {
	margin-top: 7%;
	text-align: right;
}

.timelineWrapper {
	height: 1000px;
	overflow: hidden;
	margin-bottom: 10%
}

.readMore {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -123px;
	text-align: center;
	border: #e7e7e7 solid 1px;
	padding: 10px;
	text-transform: uppercase;
	background-color: #fff;
	opacity: .9;

}
.readLess {
	width: 10%;
	text-align: center;
	border: #e7e7e7 solid 1px;
	padding: 10px;
	text-transform: uppercase;
	display: none;
	top: 50%;
	position: fixed;
	margin-left: 20px;
}

.edit {
	position: absolute;
	top: 6px;
	right: 0px;
	color: #7DCDCD;
}

/*#customBoard {
	margin-top: 2%;
	border: #e7e7e7 solid 2px;
	width: 25%;
	text-align: center;
	height: 250px;
}*/

.board-role {
	border-bottom: #7DCDCD solid 1px;
	margin-top: 10%;
	margin-bottom: 7%;
	width: 70%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}

.customBoardSchoolsWrapper,
.customBoardMuseumsWrapper,
.customBoardPubsWrapper {
	border: #e7e7e7 solid 2px;
	height: 250px;
	margin-top: 2%;
	text-align: center;
	box-shadow: 3px 5px 5px #E0E0E0;
}

.customBoard {
	margin-bottom: 10%;
}
